.css3-logo {
	float: right;
}

#last_articles {
	float: left;
	padding: 2%;
	width: 55%;
	max-height: 85%;
	overflow: auto;
	/*margin-right: 400px;*/
	/*display: inline;*/
}

.article:hover .edit_destroy_links{
	display: block;
}

.edit_destroy_links {
	display: none;
}

.timestamp {
	font-size: 14px;
	float: right;
	margin-right: 50px;
	color: grey;
}
.article_content {
	margin: 10px;
	/*margin-top: 20px;*/
	margin-right: 0;
	display: inline-block;
	font-size: 1.2em;
	line-height: 1.2em;
}

.article_content a {
	margin: 30px;
	/*padding: 10px;*/
}

.article_content p {
	/*padding: 10px;*/
	/*margin: 10px;*/
	margin-bottom: 0;
	text-indent: 1em;

}
.article_content h3 {
	margin-top: 0;
}
#article {
	text-indent: 2em;
	font-size: 20px;
	margin: 6%;
	margin-top: 3%;
	line-height: 1.3em;
}

#article .timestamp {
	font-size: 18px;
}
#article h2 {
	display: inline;
}
#article a {
	margin-left: 10px;
}
